<div class="=container">
    <div class=content>
        <div class="row">
            <div class="column">   
                    Name
            </div>
            <div class="column">   
                    {{this.person.Name}}
                </div>
        </div>
        <div class="row">
                <div class="column">   
                        Vorname
                </div>
                <div class="column">   
                        {{this.person.Vorname}}
                    </div>
            </div>
            <div class="row">
                    <div class="column">   
                            E-mail
                    </div>
                    <div class="column">   
                            {{this.person["E-mail"]}}
                        </div>
                </div>
                <div class="row">
                        <div class="column">   
                                Telefon
                        </div>
                        <div class="column">   
                                {{this.person.Telefon}}
                            </div>
                    </div>
                 
           <div class="btnContainer">
            <button    class=" btn btn-lg btn-primary" (click)="open()">Change</button>
           </div>
               
    
</div>
            
</div>